<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>TEST</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <nav class="navber">
            <a href="#">Home</a>
            <a href="#">about</a>
            <a href="#">Youtube</a>
            <a href="#">Anime</a>
            <a href="/login">Login</a>
        </nav>
    </header>

</body>
</html>